@font-face {
font-family: 'Berkshire Swash Regular';
font-style: normal;
font-weight: normal;
src: local('Berkshire Swash Regular'), url('BerkshireSwash-Regular.woff') format('woff');
}

h1 {
	font-family: 'Berkshire Swash Regular';
	font-weight: 200;
	color: #0ccac4;
}

div {
	margin: 0;
	padding: 0;
}